html {
  height: 100%;
}
body {
  margin:0;
  padding:0;
  font-family: sans-serif;
  background: linear-gradient(rgb(92, 193, 233), white);
}

.login-box {
  position: absolute;
  top: 45%;
  left: 50%;
  width: 500px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: white;
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(20, 2, 2, 0.6);
  border-radius: 10px;
}

.login-box_2 {
  position: absolute;
  top: 58%;
  left: 50%;
  width: 270px;
  transform: translate(-50%, -50%);
  border-radius: 10px;
}

.login-box_2 h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.login-box_2 .user-box {
  position: relative;
}

.login-box_2 .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: purple;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.login-box_2 .user-box label {
  position: absolute;
  top:0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.login-box_2 .user-box input:focus ~ label,
.login-box_2 .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #2F4B80;
  font-size: 12px;
}


.login-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: black;
  text-align: center;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  background: transparent;
}
.login-box .user-box label {
  position: absolute;
  top:0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: black;
  pointer-events: none;
  transition: .5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #2F4B80;
  font-size: 12px;
}

.login-box form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #2F4B80;
  font-size: 20px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  margin-left: 36%;
  letter-spacing: 4px
}

.login-box_2 form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #2F4B80;
  font-size: 20px;
  text-decoration: none;  
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  margin-left: 36%;
  letter-spacing: 4px
}

.login-box_2 a:hover {
  background: #2F4B80;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #2F4B80,
              0 0 25px #2F4B80,
              0 0 50px #2F4B80,
              0 0 100px #2F4B80;
}

.login-box a:hover {
  background: #2F4B80;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #2F4B80,
              0 0 25px #2F4B80,
              0 0 50px #2F4B80,
              0 0 100px #2F4B80;
}

.login-box_2 a span {
  position: absolute;
  display: block;
}
.login-box a span {
  position: absolute;
  display: block;
}

.login-box_2 a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #2F4B80);
  animation: btn-anim1 1s linear infinite;
}

.login-box a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #2F4B80);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,100% {
    left: 100%;
  }
}

.login-box_2 a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #2F4B80);
  animation: btn-anim2 1s linear infinite;
  animation-delay: .25s
}

.login-box a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #2F4B80);
  animation: btn-anim2 1s linear infinite;
  animation-delay: .25s
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,100% {
    top: 100%;
  }
}

.login-box_2 a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #2F4B80);
  animation: btn-anim3 1s linear infinite;
  animation-delay: .5s
}

.login-box a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #2F4B80);
  animation: btn-anim3 1s linear infinite;
  animation-delay: .5s
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,100% {
    right: 100%;
  }
}

.login-box_2 a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #2F4B80);
  animation: btn-anim4 1s linear infinite;
  animation-delay: .75s
}

.login-box a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #2F4B80);
  animation: btn-anim4 1s linear infinite;
  animation-delay: .75s
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,100% {
    bottom: 100%;
  }
}



.back_page{
  padding-right: 8%;
  padding-left: 9%;
}

.aim_top_logo{
  font-size: 15px;
}

.int {
  font-size: 30px;
  margin-top: 0%;
  margin-left: 0%;
  position: fixed;
  padding-left: 0%;
  padding-right: 8%;
}


.mainaim {
  font-size: 100px;
  position: absolute;
  margin-top: 5%;
  left: 48%;
  right: 50%;
  transform: translate(-50%, 50%);
  color: #fff;

}
.mainaim2{
  font-size: 35px;
  margin-top: 17%;
  margin-left: 35%;
  position: absolute;
  transform: translate(-50%, 50%);
  color: #fff;
}


body {
  font-size: .875rem;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; 
  padding: 48px 0 0; 
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
} 

@media (max-width: 767.98px) {
  .sidebar {
    top: 5rem;
  }
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; 
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #727272;
}

.nav-link.active {
  color: white;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: black;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}


.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 2rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}
.navbar .navbar-toggler {
  top: .25rem;
  right: 1rem;
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

.IP_btn{
  font-size: 40px;
  background-color: white;
  margin-top: 15%;
  margin-left: -7.4%;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 100px;
  padding-bottom:100px;
}
.User_btn{
  font-size: 40px;
  background-color: white;
  margin-top: 15%;
  margin-left: 17%;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 100px;
  padding-bottom:100px;
}
.ID_btn{
  font-size: 40px;
  background-color: white;
  margin-top: 15%;
  margin-left: 16%;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 100px;
  padding-bottom:100px;
}